@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    /* outline: 1px solid red; */
}

:root {
    font-family: "poppins", sans-serif;
}

body {
    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    background-position: center center;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: rgba(0, 229, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(7px);
}

.main-card {
    width: min(25rem, 90%);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1rem;
    box-sizing: border-box;

    .logo{
        width: 100%;
        border-radius: .5rem;
        overflow: hidden;
        padding: 0;
        margin: 0;
        height: fit-content;
        display: flex;

        img{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    .head{
        width: 100%;
        margin-top: 1rem;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .input-group{
        width: 100%;
        margin-top: .5rem;
        border-radius: .5rem;
        overflow: hidden;
        outline: 1px solid hsl(0, 0%, 50%);
        
        &:focus-within{
            outline: 1px solid hsl(0, 0%, 0%);
        }

        input{
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            border: none;
            padding: .5rem;
            background-color: transparent;

        }
    }

    button{
        width: 100%;
        padding: .4rem;
        margin-top:1rem;
        background-color: rgb(0, 185, 185);
        border: none;
        outline: 1px solid hsl(0, 0%, 50%);
        border-radius: .5rem;
        scale: 1;
        transition: scale .1s;
        &:focus{
            outline: 1px solid hsl(0, 0%, 100%);
        }
        &:active{
            background-color: rgb(3, 123, 139);
            color: white;
        }
        &:hover{
            scale: 1.05;
            transition: scale .3s;
        }
    }

    .error{
        font-size: .8rem;
        display: flex;
        align-items: center;
        color: red;
        margin-top: .5rem;
        svg{
            height: .9rem;
            width: .9rem;
            fill: red;
        }
    }

}