{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Study</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>

<body>
    <div class="main-container">
        <div class="main-card">
            <div class="head">Add Study</div>
            <div class="body">
                <form method="post">{% csrf_token %}

                    <label for="">
                        Study Name
                        <input name="name" type="text" placeholder="Enter Study Name" required minlength="4" maxlength="20">
                    </label>

                    <label for="">
                        Phase:
                        <select name="phase" required >
                            <!-- <option disabled selected>Select One</option> -->
                            {% for phase in phases %}
                            <option value="{{phase.id}}">{{phase.name}}</option>
                            {% endfor %}
                        </select>
                    </label>

                    <label for="">
                        Sponser:
                        <select name="sponser" required >
                            <!-- <option disabled selected>Select One</option> -->
                            {% for sponser in sponsers %}
                            <option value="{{sponser.id}}">{{sponser.name}}</option>
                            {% endfor %}
                        </select>
                    </label>

                    <label for="">
                        Discription:
                        <input type="text" placeholder="Describe the Study (Optional)" name="discription" maxlength="30">
                    </label>

                    <div class="buttons">
                        <a href="{% url 'home' %}">Cancel</a>
                        <button type="submit">Add Study</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

</html>