{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Care2Data</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="head">
        Study Management
    </div>

    <div class="main-container">
        <div class="menu">
            <div class="studies">

                {% if studies %}
                {% if studies|length == 1 %}
                <div class="number">{{studies|length}}</div>
                <div class="name">Study</div>
                {% else %}
                <div class="number">{{studies|length}}</div>
                <div class="name">Studies</div>
                {% endif %}
                {% else %}
                <div class="number">0</div>
                    <div class="name">Studies</div>
                {% endif %}

            </div>
            <div class="sponser">
                {% if sponser %}
                {% if sponser|length == 1 %}
                <div class="number">{{sponser|length}}</div>
                <div class="name">Sponser</div>
                {% else %}
                <div class="number">{{sponser|length}}</div>
                <div class="name">Sponsers</div>
                {% endif %}
                {% else %}
                <div class="number">0</div>
                    <div class="name">Sponser</div>
                {% endif %}
            </div>
            <div class="phases">
                {% if phase %}
                {% if phase|length == 1 %}
                <div class="number">{{phase|length}}</div>
                <div class="name">Phase</div>
                {% else %}
                <div class="number">{{phase|length}}</div>
                <div class="name">Phases</div>
                {% endif %}
                {% else %}
                <div class="number">0</div>
                    <div class="name">Phase</div>
                {% endif %}
            </div>
            <a class="restore" href="{% url 'reset' %}" style="color: white;text-decoration: none;">
                <div class="name">Reset</div>
            </a>
            <a class="create" href="{% url 'create' %}" style="text-decoration: none;">
                <div class="number">+</div>
                <div class="name">Add New Study</div>
            </a>
        </div>
        <div class="table-container">
            <form action="" method="post" id="delete-form">
                <button type="submit" class="delete-btn" data-count="0" id="delete-btn"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg> Delete </button>
                {% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="all-select-checkbox"></th>
                            <th>Study Name</th>
                            <th>Study Phase</th>
                            <th>Sponser Name</th>
                            <th>Study Discription</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">

                        {% for study in studies %}

                        <tr>
                            <td><input type="checkbox" onchange="changeCount()" value="{{study.id}}" name="study"></td>
                            <td>{{study.name}}</td>
                            <td>{{study.phase}}</td>
                            <td>{{study.sponser}}</td>
                            <td>{{study.discription}}</td>
                            <td><a href="{% url 'edit' study.id %}">Edit</a></td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <script>
        const delete_btn = document.getElementById("delete-btn");
        const allCheckBox = document.querySelectorAll("#table-body input[type=checkbox]")

        document.getElementById("all-select-checkbox").addEventListener("change", function () {
            allCheckBox.forEach(checkbox => {
                checkbox.checked = document.getElementById("all-select-checkbox").checked;
            });
            changeCount()
        })

        function changeCount() {
            const allCheckedBox = document.querySelectorAll("#table-body input[type=checkbox]:checked")
            delete_btn.dataset.count = allCheckedBox.length;
            
            if (allCheckBox.length - allCheckedBox.length == 0) {
                document.getElementById("all-select-checkbox").checked = true;
            } else {
                document.getElementById("all-select-checkbox").checked = false;
            }
        }
        
        document.getElementById('delete-form').addEventListener('submit', function (event) {
            const isConfirmed = confirm("Do you want to delete studies ?");
            if (!isConfirmed) {
                event.preventDefault();
            }
        });

        changeCount()

    </script>

</body>

</html>